<h1><%= title %></h1> 
<div class="movie_details">
    <div class="image">
        <img src="<%= image_link %>">
    </div>
    <div class="info">
        <p><b>Year:</b> <%= movie_year %> </p>
        <p><b>Director:</b> <%= director %>  </p>
        <p><b>Actors:</b> <%= actors %> </p>
        <p><b>Writers:</b> <%= writer %>  </p>
        <p><b>Genre:</b> <%= genre %> </p>
        <p><b>Plot:</b> <%= plot %> </p>
        <p><b>Runtime:</b> <%= runtime %> </p>
        <p><b>Box Office:</b> <%= box_office %> </p>
        <p><b>Production:</b> <%= production %> </p>
        <p><b>Metascore:</b> <%= metascore %> </p>
        <p><b>IMDB Rating:</b> <%= imdb_rating %> </p>
        <p><b>IMDB Votes:</b> <%= imdb_votes %> </p>
        <a href="/">Go back</a>
    </div>
</div>