<div class="movie_details">
    <div>
        <% if movie["title"] %> 
            <h1><%= movie["title"] %></h1> 
            <h2> <%= movie["year"]%> </h2>
            <img src="<%= movie["image_url"] %>">
            <p>Using local database</p>
        <% else %>
            <h1><%= movie["Title"] %></h1> 
            <h2> <%= movie["Year"] %> </h2>
            <img src="<%= movie["Poster"] %>">
        <% end %>
    </div>
    <div>
        <br><br>
        <a class="back" href="/">Go Back to Home</a>
    </div>
</div>